In [ ]:
import pandas as pd

# Load the Excel file
df = pd.read_excel("/content/Merged (WAT and NAT), Sasmal Catalog.xlsx")  # Replace with your actual file name

In [ ]:

# Read columns as sets (drop NaNs if any)
fcg1_values = set(df["FCG1"].dropna().astype(str))
fcg2_values = set(df["FCG2"].dropna().astype(str))

# Entries in FCG1 that are not in FCG2
only_in_fcg1 = fcg1_values - fcg2_values

# Entries in FCG2 that are not in FCG1
only_in_fcg2 = fcg2_values - fcg1_values

# Print results
print("Entries in FCG1 but not in FCG2:")
for val in sorted(only_in_fcg1):
    print(val)

print("\nEntries in FCG2 but not in FCG1:")
for val in sorted(only_in_fcg2):
    print(val)

Entries in FCG1 but not in FCG2:
J0034+1140
J0103+0041
J0318-0810
J0323-0814
J0820+1642
J0826+1531
J0927+4109
J1005+3000
J1047-0059
J1412+0043
J1443-0111
J1730+5923
J2127+0042
J2332-0744

Entries in FCG2 but not in FCG1:

In [ ]:
print(len(only_in_fcg1))
print(len(only_in_fcg2))

14
0

In [ ]:
mismatched_rows = df[df["FCG1"].astype(str).isin(only_in_fcg1)]
print(mismatched_rows[["FCG1", "RA1", "Dec"]])

           FCG1          RA1          Dec
9    J0034+1140  03 34 30.50  +11 40 40.9
23   J0103+0041  01 03 29.65  +00 41 01.8
48   J0318-0810  03 18 00.43  -08 10 20.5
50   J0323-0814  03 23 04.96  -08 14 16.6
115  J0820+1642  08 20 41.53  +16 42 30.2
120  J0826+1531  08 26 23.62  +15 31 26.6
186  J0927+4109  09 27 17.98  +41 09 21.8
227  J1005+3000  10 05 00.53  +30 00 04.4
275  J1047-0059  10 47 07.57  -00 59 20.9
477  J1412+0043  14 12 20.57  +00 43 14.9
512  J1443-0111  14 43 47.49  -01 11 36.9
652  J1730+5923  17 30 43.60  +59 23 26.5
662  J2127+0042  21 27 22.52  +00 42 57.7
707  J2332-0744  23 32 06.89  -07 44 44.9

In [ ]:

mismatched_rows.to_excel("Missing.xlsx", index=False)